@page "/inventory"
@inherits MainLayout
@rendermode InteractiveServer
@using Scrumptiospoc.Components.Layout
@using Scrumptiospoc.Interfaces;
@using Scrumptiospoc.Models;
@using System.ComponentModel
@using System.Collections.ObjectModel
@inject IOrderInterface _orderservice;
@inject ILocationInterface _locationservice;
@inject IInventoryInterface _inventoryservice;
@inject IProductInterface _productservice;

<PageTitle>Inventory</PageTitle>

<div class="d-flex align-items-center">
    <a href="/locations" class="btn me-2">
        ← Back
    </a>
</div>
<div class="m-3">
    <h1>Inventory</h1>
    <h2>@inventory.Location.Name</h2>
    <p>@inventory.Location.Address</p>
    <button type="button" class="btn btn-primary " @onclick="OpenProductModal">Products to assign</button>
</div>
<hr />

@if (inventory.Items.Any())
{
    foreach (var item in inventory.Items)
    {
        <div>
            @item.Product.Name
            <input type="number" @bind-value="@item.Quantity" @bind-value:event="onchange" />
        </div>
    }
}



<!-- Modal -->
<div class="modal pt fade @((ShowModal ? "show d-block" : "d-none"))" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title titleProducts">Select Products</h5>
                <button type="button" class="btn-close" aria-label="Close" @onclick="CloseProductModal"></button>
            </div>

            @foreach (var item in ProductList)
            {
                <div class="modal-body pb-0">
                    <input type="checkbox" @bind="@item.IsSelected" /> @item.Name
                </div>
            }



            <div class="modal-footer">
                <button type="button" @onclick="AssignProducts" class="btn btn-primary">Assign Products</button>
            </div>

        </div>
    </div>
</div>


@code {
    private Models.Inventory inventory;

    public event PropertyChangedEventHandler PropertyChanged;
    public ObservableCollection<Product> ProductList { get; set; }

    private bool ShowModal { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        ProductList = new();
        var location = await _locationservice.GetSelectedLocation();
        await _inventoryservice.SetSelectedInventory(location.Inventory);
        inventory = await _inventoryservice.GetSelectedInventory();



    }


    public async Task LoadProducts()
    {
        ProductList.Clear();
        foreach (var item in _productservice.GetAllProducts())
        {
            item.IsSelected = false;
            if (await _inventoryservice.IsAdded(item))
            {
                item.IsSelected = true;
            }
            ProductList.Add(item);
        }
    }

    public void AssignProducts()
    {

        foreach (var item in ProductList)
        {
            if (item.IsSelected)
                _inventoryservice.AssignProduct(item);
        }
        ShowModal = false;
    }



    public async Task OpenProductModal()
    {
        await LoadProducts();
        ShowModal = true;
        StateHasChanged();
    }
    public void CloseProductModal()
    {
        ProductList.Clear();
        ShowModal = false;

    }




    private void OnStateChanged()
    {
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        _orderservice.StateChanged -= OnStateChanged;
    }

    protected virtual void OnPropertyChanged(string propertyName)
    {
        PropertyChanged?.Invoke(this, new PropertyChangedEventArgs(propertyName));
    }

}
