@page "/locations"
@rendermode InteractiveServer
@using Scrumptiospoc.Interfaces;
@using Scrumptiospoc.Models;
@using System.ComponentModel
@using System.Collections.ObjectModel
@inject IOrderInterface _orderservice;
@inject ILocationInterface _locationservice;
@inject IInventoryInterface _inventoryservice;
@inject IProductInterface _productservice;
@inject NavigationManager NavigationManager;
@inject IJSRuntime JSRuntime;
<PageTitle>Admin</PageTitle>

<h1>Hello Admin</h1>

<p class="add-subtitle">Add Location <button class="btn-add" @onclick="AddLocation">+</button></p>

<hr />

<div class="container">
    <div class="row">
        @foreach (var location in LocationList)
        {
            <div class="col-4 mt-4">
                <div class="card">
                    <div class="card-header">
                        <div class="small">
                            <a href="/tablet/@location.Id"> @location.Id</a>
                            <button class="btn btn-primary" @onclick="@(() => GenerateQrCode("https://scrumptious-app-a6effacngchyfna6.westus-01.azurewebsites.net/tablet/"+location.Id.ToString()))">QR</button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="col-12">

                            <p>Name: @location.Name</p>
                            <p>Address: @location.Address</p>
                        </div>
                        <p>
                            <button class="btn btn-primary" @onclick="()=>NavigateToInventory(location)">Inventory</button>
                            <button class="btn btn-primary" @onclick="()=>NavigateToOrders(location)">Orders</button>
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div class="modal @((ShowModal ? "show d-block" : "d-none"))" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">QR Code</h3>
            </div>
            <div class="modal-body qr-img">
                @if (!string.IsNullOrEmpty(QrCodeBase64))
                {
                    
                    <img src="data:image/png;base64,@QrCodeBase64" alt="QR Code" />
               
                }
                else
                {
                    <p>Generating QR code...</p>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" @onclick="CloseModal">Close</button>
            </div>
        </div>
    </div>
</div>

@code {

    private string QrCodeBase64;
    public event PropertyChangedEventHandler PropertyChanged;
    private ObservableCollection<Location> _locations = new();
    public ObservableCollection<Location> LocationList
    {
        get => _locations;
        set
        {
            if (_locations != value)
            {

                _locations = value;
                OnPropertyChanged(nameof(Locations));
                OnStateChanged();

            }
        }
    }
    private bool ShowModal { get; set; } = false;
    public async Task OpenModal()
    {
        ShowModal = true;
        StateHasChanged();
    }
    public void CloseModal()
    {
        ShowModal = false;

    }
    protected override async Task OnInitializedAsync()
    {

        await base.OnInitializedAsync();
        _orderservice.StateChanged += OnStateChanged;
        Location location = new Location
            {
                Address = "123 Main St",
                Longitude = 253.00,
                Latitude = 25225.555
            };
        LocationList = _locationservice.Locations;


    }

    private void GenerateQrCode(string content)
    {
        using var qrGenerator = new QRCoder.QRCodeGenerator();
        var qrData = qrGenerator.CreateQrCode(content, QRCoder.QRCodeGenerator.ECCLevel.Q);
        using var qrCode = new QRCoder.PngByteQRCode(qrData);
        var qrCodeBytes = qrCode.GetGraphic(20);
        QrCodeBase64 = Convert.ToBase64String(qrCodeBytes);

        ShowModal = true;
        StateHasChanged();
    }

    private async Task PrintQrCode()
    {
        await JSRuntime.InvokeVoidAsync("printQrCode", "qrCodeContainer");
    }




    public async Task AddLocation()
    {
        await _locationservice.CreateLocation();
        StateHasChanged();
    }
    private void OnStateChanged()
    {
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        _orderservice.StateChanged -= OnStateChanged;
    }

    protected virtual void OnPropertyChanged(string propertyName)
    {
        PropertyChanged?.Invoke(this, new PropertyChangedEventArgs(propertyName));
    }

    private void NavigateToOrders(Location loc)
    {
        _locationservice.SelectLocation(loc);
        NavigationManager.NavigateTo("/Orders");
    }

    private void NavigateToInventory(Location loc)
    {
        _locationservice.SelectLocation(loc);
        NavigationManager.NavigateTo("/Inventory");
    }



}
