@page "/tablet"
@page "/tablet/{paramId:guid}"
@layout Restaurant
@using Scrumptiospoc.Components.Layout
@using Scrumptiospoc.Interfaces;
@using Scrumptiospoc.Models;
@using System.Collections.ObjectModel
@inject IOrderInterface _orderservice;
@inject ILocationInterface _locationservice;
@inject IInventoryInterface _inventoryservice;
@rendermode InteractiveServer



<PageTitle>Order</PageTitle>
<div class="container">
    <!--#region HEADER  -->
        <div class="row">
            <div class=" col-4">
                <h1>Orders</h1>

            </div>
            <div class="col-4">
            </div>
            <div class="col-4 text-end">
                <button class="@((Location.IsActive ? "btn btn-success" : "btn btn-danger"))" @onclick="OnlineBtn">@ButtonText</button>
                <button class="@((Location.IsSlow ? "btn btn-warning" : "btn btn-light"))" @onclick="SlowStatusBtn">Rush Hour: @Location.IsSlow</button>
                <p>Total downtime is @Location.Downtime seconds </p>
            </div>
        </div>        <hr />    
    <!--#endregion HEADER  -->

    @* Region inventorycontainer firstrow *@
    <div class="row col-4 card">
        <h4>Products available</h4>
        @foreach (var item in Location.Inventory.Items)
        {
            <div class="row">
                <div class="col-6 p-2">
                    <p>@item.Product.Name</p>
                </div>
                <div class="col-2 p-2">
                    <p>@item.Quantity</p>
                </div>
                <div class="col-4 text-end">
                    <button type="button" @onclick="()=>DisableBtn(item)" class="btn btn-primary btn-sm">Disable</button>
                </div>
            </div>
        }
    </div>
    <hr />
    @* fin inventory container *@


    @if (Orders.Any())
    {
        @foreach (var item in Orders.Where(w => w.Status != Status.NotSet))
        {

            if (item.Status != Status.Delivered)
            {
                <div class="mt-4 card">
                    <div class=" card-header text-end">
                        <p class="small">
                            @item.Id
                        </p>
                    </div>
                    <div class="card-body">
                        @foreach (var prod in item.OrderItems)
                        {
                            <div class=" mb-4">
                                <h4>@prod.Product.Name</h4>
                                <div>@prod.Product.Description</div>
                            </div>
                        }
                    </div>
                    <div class="card-footer">
                        @if (item.Status == Status.IsSet)
                        {
                            <button class="btn btn-success" @onclick="() => Accept(item)">Accept</button>
                            <button class="btn btn-danger" @onclick="() => Reject(item)">Reject</button>
                        }
                        @if (item.Status == Status.Accepted)
                        {
                            <button class="btn btn-primary" @onclick="() => Ready(item)">Ready</button>
                            <button class="btn btn-danger" @onclick="() => Cancel(item)">Cancel</button>
                        }
                        @if (item.Status == Status.Finished)
                        {
                            <button class="btn btn-primary" @onclick="() => Delivered(item)">Delivered</button>
                            <button class="btn btn-danger" @onclick="() => Cancel(item)">Cancel</button>
                        }

                    </div>
                </div>
            }
        }


    }
    else
    {
        <p>No orders available.</p>
    }
</div>

@code {
    [Parameter]
    public Guid paramId { get; set; }

    private string ButtonText = "Online";

    private ObservableCollection<Order> _orders = new();
    public ObservableCollection<Order> Orders
    {
        get => _orders;
        set
        {
            if (_orders != value)
            {

                _orders = value;
                StateHasChanged();
            }
        }
    }

    private Location _location = new();
    public Location Location
    {
        get => _location;
        set
        {
            if (_location != value)
            {

                _location = value;
                StateHasChanged();
            }
        }
    }
    protected override async Task OnInitializedAsync()
    {
        // Call the base method asynchronously
        await base.OnInitializedAsync();
        _orderservice.StateChanged += OnStateChanged;
        _inventoryservice.StateChanged += OnStateChanged;
        if (paramId != Guid.Empty)
        {
            RefreshOrders(paramId);
        }
        else
        {
            Orders = new();
        }



    }

    private async void RefreshOrders(Guid paramId)
    {
        Orders.Clear();
        Location = _locationservice.Locations.Where(w => w.Id == paramId).SingleOrDefault();

        var filteredOrders = Location.Orders;

        foreach (var order in filteredOrders)
        {
            Orders.Add(order);
        }

        StateHasChanged();
    }
    private void Accept(Order order)
    {
        _orderservice.AcceptOrder(order);
        NotifyStateChanged();
        OnStateChanged();
    }
    private void Reject(Order order)
    {
        _orderservice.RejectOrder(order);
        StateHasChanged();
    }
    private void Ready(Order order)
    {
        _orderservice.SetReadyOrder(order);
        StateHasChanged();
    }
    private void Delivered(Order order)
    {
        _orderservice.Delivered(order);
        StateHasChanged();
    }
    private void Cancel(Order order)
    {
        _orderservice.CancelOrder(order);
        StateHasChanged();
    }
    private void OnlineBtn()
    {
        Location = _locationservice.Locations.Where(w => w.Id == paramId).SingleOrDefault();
        _locationservice.OnOffLocation(Location);
        ButtonText = ButtonText == "Online" ? "Offline" : "Online";
        StateHasChanged();
    }
    private void SlowStatusBtn()
    {
        _locationservice.IsSlow(Location);
        StateHasChanged();
    }

    private void NotifyStateChanged()
    {
        StateChanged?.Invoke();
    }
    public event Action? StateChanged;
    private void OnStateChanged()
    {
        try
        {

            InvokeAsync(() =>
            {
                RefreshOrders(paramId);  // Update orders based on the new state
                StateHasChanged();  // Trigger a re-render
            });
        }
        catch (Exception ex)
        {

        }

    }
    private void DisableBtn(InventoryItem inventoryItem)
    {
        _inventoryservice.IsDisabled(inventoryItem);
        StateChanged?.Invoke();
    }
}
